-- Vista Magazijn Database Schema
-- Create database
CREATE DATABASE IF NOT EXISTS vista_magazijn CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;
USE vista_magazijn;

-- Users table
CREATE TABLE users (
    id INT AUTO_INCREMENT PRIMARY KEY,
    username VARCHAR(50) UNIQUE NOT NULL,
    password_hash VARCHAR(255) NOT NULL,
    role ENUM('admin', 'user') DEFAULT 'user',
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP
);

-- Inventory table
CREATE TABLE inventory (
    id INT AUTO_INCREMENT PRIMARY KEY,
    naam VARCHAR(100) NOT NULL,
    aantal INT NOT NULL DEFAULT 0,
    locatie VARCHAR(100),
    keuringsdatum DATE,
    beschrijving TEXT,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP
);

-- Orders table
CREATE TABLE orders (
    id INT AUTO_INCREMENT PRIMARY KEY,
    leerlingnr VARCHAR(20) NOT NULL,
    naam VARCHAR(100) NOT NULL,
    artikel VARCHAR(100) NOT NULL,
    status ENUM('pending', 'approved', 'rejected', 'completed') DEFAULT 'pending',
    datum DATE NOT NULL,
    opmerkingen TEXT,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP
);

-- Returns table
CREATE TABLE returns (
    id INT AUTO_INCREMENT PRIMARY KEY,
    artikel VARCHAR(100) NOT NULL,
    leerlingnr VARCHAR(20) NOT NULL,
    naam VARCHAR(100) NOT NULL,
    inleverdatum DATE NOT NULL,
    conditie ENUM('goed', 'beschadigd', 'verloren') DEFAULT 'goed',
    opmerkingen TEXT,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP
);

-- Insert sample data
-- Default admin user (password: admin123)
INSERT INTO users (username, password_hash, role) VALUES 
('admin', '$2y$10$92IXUNpkjO0rOQ5byMi.Ye4oKoEa3Ro9llC/.og/at2.uheWG/igi', 'admin'),
('user1', '$2y$10$92IXUNpkjO0rOQ5byMi.Ye4oKoEa3Ro9llC/.og/at2.uheWG/igi', 'user');

-- Sample inventory items

-- Sample orders

-- Sample returns
